//Fonts
$main-font: 'Hind Siliguri', sans-serif;
$secondary-font: 'Arimo', sans-serif;

//media-queries
$mob-xs: 320px;
$mob-sm: 768px;
$mob-md: 1024px;
$mob-lg: 1440px;
$desk-sm: 769px;
$desk-md: 1025px;
$desk-lg: 1450px;

//Colors
$fuscous-gray: #4d4c49;
$mine-shaft: #393737;
$alter-mine-shaft: #333;
$white: #fff;
$gray: #828282;
$gray-two: #818181;
$dove-gray: #6d6d6d;
$abbey: #494a4d;
$alabaster: #f8f8f8;
$nobel: #b7b7b7;
$alto: #dcdcdc;
$alter-alto: #ddd;
$fantasy: #fcf6f6;
$mercury: #e6e6e6;
